/**/

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #FCAF45, #F56040, #FD1D1D, #C13584, #833AB4, #5B51D8, #405DE6);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 20px;
    text-align: center;
}
#camera {
    border-radius: 7px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border: none;
}